-e voxelmorph
black
byotrack
dacite
deep-trainer
expyrun
ipywidgets
filterpy
matplotlib
mypy
notebook
opencv-contrib-python
pandas
pylint
scikit-learn
scipy
torch
torchvision
# trackeval => Has to dl the github
types-tqdm
